<ion-view>
  <ion-content>
    <h1>STOCKBLOCK</h1>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
      adasfdsfafsd
    </div>
    <!-- <input type="text" id="search" placeholder="Search for Stocks"> -->
    <button class="button button-stable" id="search">Search</button>

    <br>
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4>Forecast by City</h4>
        <div class="form-group">
          <input type="text" ng-model="city" class="form-control"></input>
        </div>
        <a href="#/forecast" class="btn btn-primary">Get Forecast</a>
      </div>
    </div>

  </ion-content>
</ion-view>
